.header {
  padding: 10px 20px;
  background-color: #4a56e2;
}

.header__container {
  margin: 0 auto;
  padding: 20px 0;
  min-width: 280px;
  max-width: 728px;
  border-radius: 10px;
  background-color: #fff;
}

.header__title {
  margin: 0 auto 20px;
  width: 220px;
  color: #24cca7;
  font-family: Open-sans, sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.25s linear;
}

.header__title:hover {
  color: #4a56e2;
}

.header__description {
  margin: 0 auto;
  padding: 0 15px;
  height: 36px;
  color: #4a56e2;
  font-family: Open-sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
